/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2020, 3:07:51 PM
    Author     : antes
*/

{
  font-family: "Comic Sans MS", cursive, sans-serif, 'Rowdies', cursive;;
}


.fixed-top{
  background: darkblue;
  height: 50px;
}



#menu-top {
  font-family: Tahoma;
  font-size: 13px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
#menu-top .menu ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

/* Menu-Top */

#menu-top li {
  list-style: none;
}

/* Logo */
#menu-top div ul li.icon-home > a {
  padding: 0;
}

#menu-top div ul li a {
  display: inline-block;
  font-weight: 500;
  background-color: red;
  padding: 16px 15px;
}


#menu-top .menu {
  height: 50px;
  width: 1300px;
  margin: auto;
}

#menu-top ul li #search-keyword {
  width: 230px;
  background: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#menu-top ul li.search-background {
  width: 315px;
  text-align: center;
}

/* Display searchIcon */

#menu-top ul li button.btn-search {
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#menu-top div ul li.search-background span a {
  padding: 0;
  background-color: blue;
}

#menu-top ul li span.btn i {
  background-color: white;
}

#menu-top ul li a.active {
  text-decoration: none;
  color: white;
  border-left: 1px solid #f1f1f1;
  text-transform: uppercase;
}

#menu-top div ul li ul {
  position: relative;
  display: inline-block;
}

#menu-top div ul li:nth-child(9){
  border-left: 1px solid #f1f1f1;
}
#menu-top div ul li:nth-child(9) >a{
  padding: 0 15px;
}

/* END Display searchIcon */

#count-item {
  color: white;
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}

#shopping-cart>span {
  line-height: 50px;
  float: right;
  color: white;
}

/* List menu */

#menu-top div ul li ul {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

#menu-top div ul li a.active:hover {
  background-color: #c5cbd5;
}

#container {
  font-family: 'Rowdies', cursive  ;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  
}



/*END Menu-Top */

.welcome {
  font-family: 'Rowdies', cursive  ;
  font-size: 20px;
  margin-top: 200px;
  text-align: center;
  
}

#hometext-slide {
  margin-top: 10px;
  max-width: 1300px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3px;
}

.running-text{
  font-family: Verdana,Geneva,sans-serif; 
  font-size:26px;
}
/* Banner */
#banner{
  margin-bottom: 200px;
}
#banner #slides  {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

#banner #slides {
  margin-top: 70px;
}

.carousel-control.right{
  right: 15px !important;
}

.carousel-control.left{
  left : 15px !important;
}

/* Footer */
#footer {
  margin-top: 100px;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  height: 350px;
  background-color: darkblue;
  color: white;
}

.footer-content {
  padding-top: 1cm;
  max-width: 100%;
  width: 1300px;
  height: 200px;
  margin: auto;
  font-size: 14px;
}

.footer-content ul {
  list-style-type: circle;
}

.footer-content a {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

.col-1 {
  width: 350px;
  float: left;
}

.col-2 {
  width: 300px;
  margin-left: 150px;
  float: left;
}

.col-3 {
  width: 300px;
  position: absolute;
  margin-left: 50px;
  float: left;
}

.col-4 {
  width: 400px;
  position: absolute;
  float: right;
  border: none;
  position: relative;
}

#footer>div.footer-content>div.col-4>button {
  font-size: 15px;
  background-color: #0046be;
}

#footer>div>div.col-4>button {
  background-color: #87d37c;
  padding: 2px 15px;
  color: white;
  font-size: 18px;
}

input[type="email"] {
  width: 250px;
  height: 30px;
  padding: 2px 0;
  color: black;
}

.following {
  width: 1300px;
  margin: auto;
}

#footer div.following a {
  font-size: 20px;
}

#footer .fa {
  width: 50px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  height: 50px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
#sell-item > section > div > div > div > div.name-price{
  right: 100%;
}
/* Display multiple items */

.products .list-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* List product */

.products .list-products .product {
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  overflow: hidden;
  padding: 0 15px;
  border-radius: 5px;
}
.products .list-products .product:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.459);
}

.products .list-products .product .img-product .link-detail {
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  width: 50px;
  height: 50px;
  color: black;
  position: absolute;
  transition: all 0.3s;
  background: white;
  top: 5%;
  left: -50px;
}

/* Detail product */

.products .list-products .product .img-product .link-detail:hover {
  background: #1ACB9C;
}

.products .list-products .product .img-product .link-detail:hover i {
  color: white;
}

.products .list-products .product .img-product .link-detail i {
  margin: 18px 20px;
}

/* Add to cart */

.products .list-products .product .img-product .add-to-cart {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: black;
  position: absolute;
  transition: all 0.3s;
  background: white;
  top: 5%;
  right: -50px;
}

.products .list-products .product .img-product .add-to-cart:hover {
  background: #1ACB9C;
}

.products .list-products .product .img-product .add-to-cart:hover i {
  color: white;
}

.products .list-products .product .img-product .add-to-cart i {
  padding: 18px 17.4px;
}

.products .list-products .product .img-product #hot-span01, .products .list-products .product .img-product #new-span {
  position: absolute;
  left: 0px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background: red;
  color: yellow;
  font-size: 13px;
  line-height: 25px;
}

.products .list-products .product .img-product #hot-span02, .products .list-products .product .img-product #new-span {
  position: absolute;
  left: 0px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background: red;
  color: yellow;
  font-size: 13px;
  line-height: 25px;
}

.products .list-products .product .img-product #hot-span03, .products .list-products .product .img-product #new-span {
  position: absolute;
  left: 0px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background: red;
  color: yellow;
  font-size: 13px;
  line-height: 25px;
}

.products .list-products .product .img-product #new-span, .products .list-products .product .img-product #new-span {
  position: absolute;
  left: 0px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background: yellow;
  color: red;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
}

.products .list-products .product .name-price a:hover {
  color: #1ACB9C;
}

.products .list-products .product .name-price span {
  color: #1ACB9C;
  border-right: 5cm;
}

.products .list-products .product .brand a {
  font-size: 13px;
  color: #999999;
  float: left;
  text-decoration: none;
}

/* Animation detail and cart */

.products .list-products .product .img-product:hover .link-detail {
  text-transform: scale(0);
  top: 30%;
  left: 30% !important;
}

.products .list-products .product .img-product:hover .add-to-cart {
  top: 30%;
  right: 30% !important;
}


/* Product spec */

.products .list-products .product .img-product a img {
  width: 270px;
}

/* Price */

.products .list-products .product .name-price {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 16px;
  width: 270px;
}

#sell-item{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
 }

/* Item description  */

.product a{
  display: inline-block;
  cursor: pointer
}
.product img{
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: all 0.3s;
  overflow: hidden;
}
.product img:hover{
  transform: scale(1.03)
}



.description{
  position: absolute;
  top: 10%;
  transform : scale(0);
}
.active-ele p{
  letter-spacing: 1.2px;
  padding: 15px 15px;
}
.active-ele button{
  background: none;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  border: none;
  transition: all 0.3s;
}
.active-ele button:hover{
  color: black;
  background:white;
}